@import './basic/reset.scss';
@import './basic/fonts.scss';
@import './moduls/variable.scss';
@import './moduls/classes.scss';
@import './main/media.scss';

.conteiner{
    @extend %container;
}
.position{ 
    background-image:url(../image/mohamed.png);
    background-repeat: no-repeat;
    height: 324px;
    width: 100%;
    header{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center; 
        color: $color02;
        padding: 10px 50px 0 100px;
        ul{
            display: flex;
            li{
                margin-right:50px;
                a{
                    color: $color02;
                    font-size: $fontsize01;
                    &:hover{
                        color: red;
                    }
                }
            }
        }
    }
    .home{
        padding-top: 100px;
        padding-left: 100px;
        color: white;
        .main{
            font-size: $fontsize04;
            padding-bottom: 20px;
        }
        .main-p{
            display: flex;
            padding: 0 10px 0 10px;
            font-size: $fontsize01;
            .main-p1{
                padding-right: 10px;
                border-right: 2px solid $color02;
            }
            .main-p2{
                padding-left: 10px;
            }
        }
    }  
}    

.quality{
    margin: 0 40px 20px 100px;
    a{
        font-size: $fontsize01;
        color: $color03;
        padding-bottom: 5px;
    }
    h2{
        font-size: 42px;
        color: $color01;

    }

}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 5px 40px 5px;
    padding: 0 120px 0 120px;
    position: relative;
    .box-block{
        width: 536px;
        display: flex;
        align-items: center;
        .hotel{
            border-right: 50px solid $color03 ;  
            height: 180px;
            padding-bottom: 10px;
        }
        img{
            width: 168px;
            height: 190px;
            padding-bottom: 10px;
        }
        a{
            font-size: $fontsize01;
            padding: 10px 10px 10px;
            color: $color03;
        }
        h2{
            font-size: $fontsize03;
            padding: 10px 10px 10px;   
        }
        p{
            font-size: $fontsize01;
            color: $color04;
            height: 62px;
            padding: 10px 10px 10px;

        }
        .arrow{
            position: absolute;
            width: 14px;
            margin-left: 250px;
            margin-bottom: 200px;
        }
    }
}
.label{
    display: flex;
    margin: 5px 50px 5px 50px;
    position: relative;
    width: 100%;

    .titl-box{
        color: $color03; 
        margin: 5px 10px 5px 30px;
    }
    .input{
        padding: 20px 60px 20px 60px;
        margin: 5px 10px 5px 30px;
    }
    .send{
            position:absolute;
            margin-left: 950px;
        .send1{
            padding: 20px 60px 20px 60px;
            margin: 25px 50px 5px 10px;
            background-color: $color03;
            color: $color05;
        }
        .plane1{
            position: absolute;
            margin-left: 200px;
            padding-bottom: 100px;
            z-index: 5;
        }
    }
    
}
.conteiner{
    @extend %container;
    .flex-box{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: $color01;
        color: $color02;
        margin: 20px 20px 20px 0;
        padding: 50px 100px 10px 100px;
        a{
            font-size: $fontsize01;
            padding-bottom: 10px;
        }
        h3{
            font-size: $fontsize05;
            padding-bottom: 10px;
            padding-top: 10px;
        }
        p{
            font-size: $fontsize01;
            padding-left: 10px;
            padding-bottom: 10px;
        }
        .paragrap{
            padding-top: 50px;
        }
        img{
            width:35px ;
            height: 35px;
            padding-top:10px ;
            padding-bottom: 5px;
        }
        .contact-box{
            display: flex;
            align-items: center;
            margin: 5px ;
            img{
                width: 20px;
                height: 20px;
                padding-top: 5px;
            }
        }
        .port{
            padding: 50px 0  0 50px;
        }
    }
}