
$fontsize01 : 14px;
$fontsize02 : 13px;
$fontsize03 : 18px;
$fontsize04 : 42px;
$fontsize05 : 24px;



$size01 : 20px;
$size02 : 10px;
$size03 : 100px;
$size05: 500px;
$size001: 100%;

$color01 : black;
$color02 : #fff;
$color03 : blue;
$color04 : #B1B1B1;
$color05:  #CECECE;