html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box; }

@font-face {
  font-family: 'Open Sans';
  src: url("./basic/fonts.scss/OpenSans-SemiboldItalic.eot");
  src: url("./basic/fonts.scss/OpenSans-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("./basic/fonts.scss/OpenSans-SemiboldItalic.woff2") format("woff2"), url("./basic/fonts.scss/OpenSans-SemiboldItalic.woff") format("woff"), url("./basic/fonts.scss/OpenSans-SemiboldItalic.ttf") format("truetype"), url("./basic/fonts.scss/OpenSans-SemiboldItalic.svg#OpenSans-SemiboldItalic") format("svg");
  font-weight: 600;
  font-style: italic;
  font-display: swap; }

.conteiner {
  max-width: 1366px;
  width: 100%;
  margin: 2px auto; }

@media (max-width: 780px) {
  .navbar {
    width: 100%;
    display: none;
    left: 0;
    right: 0; }
  .box {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center; } }

.position {
  background-image: url(../image/mohamed.png);
  background-repeat: no-repeat;
  height: 324px;
  width: 100%; }
  .position header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 10px 50px 0 100px; }
    .position header ul {
      display: flex; }
      .position header ul li {
        margin-right: 50px; }
        .position header ul li a {
          color: #fff;
          font-size: 14px; }
          .position header ul li a:hover {
            color: red; }
  .position .home {
    padding-top: 100px;
    padding-left: 100px;
    color: white; }
    .position .home .main {
      font-size: 42px;
      padding-bottom: 20px; }
    .position .home .main-p {
      display: flex;
      padding: 0 10px 0 10px;
      font-size: 14px; }
      .position .home .main-p .main-p1 {
        padding-right: 10px;
        border-right: 2px solid #fff; }
      .position .home .main-p .main-p2 {
        padding-left: 10px; }

.quality {
  margin: 0 40px 20px 100px; }
  .quality a {
    font-size: 14px;
    color: blue;
    padding-bottom: 5px; }
  .quality h2 {
    font-size: 42px;
    color: black; }

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 5px 40px 5px;
  padding: 0 120px 0 120px;
  position: relative; }
  .flex .box-block {
    width: 536px;
    display: flex;
    align-items: center; }
    .flex .box-block .hotel {
      border-right: 50px solid blue;
      height: 180px;
      padding-bottom: 10px; }
    .flex .box-block img {
      width: 168px;
      height: 190px;
      padding-bottom: 10px; }
    .flex .box-block a {
      font-size: 14px;
      padding: 10px 10px 10px;
      color: blue; }
    .flex .box-block h2 {
      font-size: 18px;
      padding: 10px 10px 10px; }
    .flex .box-block p {
      font-size: 14px;
      color: #B1B1B1;
      height: 62px;
      padding: 10px 10px 10px; }
    .flex .box-block .arrow {
      position: absolute;
      width: 14px;
      margin-left: 250px;
      margin-bottom: 200px; }

.label {
  display: flex;
  margin: 5px 50px 5px 50px;
  position: relative;
  width: 100%; }
  .label .titl-box {
    color: blue;
    margin: 5px 10px 5px 30px; }
  .label .input {
    padding: 20px 60px 20px 60px;
    margin: 5px 10px 5px 30px; }
  .label .send {
    position: absolute;
    margin-left: 950px; }
    .label .send .send1 {
      padding: 20px 60px 20px 60px;
      margin: 25px 50px 5px 10px;
      background-color: blue;
      color: #CECECE; }
    .label .send .plane1 {
      position: absolute;
      margin-left: 200px;
      padding-bottom: 100px;
      z-index: 5; }

.conteiner .flex-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: black;
  color: #fff;
  margin: 20px 20px 20px 0;
  padding: 50px 100px 10px 100px; }
  .conteiner .flex-box a {
    font-size: 14px;
    padding-bottom: 10px; }
  .conteiner .flex-box h3 {
    font-size: 24px;
    padding-bottom: 10px;
    padding-top: 10px; }
  .conteiner .flex-box p {
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 10px; }
  .conteiner .flex-box .paragrap {
    padding-top: 50px; }
  .conteiner .flex-box img {
    width: 35px;
    height: 35px;
    padding-top: 10px;
    padding-bottom: 5px; }
  .conteiner .flex-box .contact-box {
    display: flex;
    align-items: center;
    margin: 5px; }
    .conteiner .flex-box .contact-box img {
      width: 20px;
      height: 20px;
      padding-top: 5px; }
  .conteiner .flex-box .port {
    padding: 50px 0  0 50px; }
